button {
  border: none;
  padding: 0;
}
.button {
  font-size: 20px;
  padding: 12.5px 30px;
  color: #fff;
  border: 3px solid transparent;
  border-radius: 8px;
  text-decoration: none;
  font-weight: 700;
}

.primary-button {
  background-color: var(--primary);
  text-transform: uppercase;
  border: 0px;
  @include transition(background-color, 0.3s);
  &:hover {
    background-color: var(--secondary);
  }
}

.primary-ghost-button {
  @extend .button;
  display: inline-block;
  vertical-align: middle;
  border: 3px solid var(--primary);
  color: $primary;
  margin: 40px 0;
}
