// todo- varibles here

$theme-font: "Open Sans", sans-serif;

// Colors
$primary: #5ec7ce;
$secondary: #856f94;
$tertiary: #c3eb9e;
$dark-grey: #474747;
$medium-grey: #5d5d5d;
$light-grey: #6a6b6d;

$box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);

$overlay: rgba(65, 65, 65, 0.7);

$menuTransition: all 0.6s cubic-bezier(0.85, 0, 0.15, 1);
